@font-face {
    font-family: 'notobold';
    src: url('fonts/NotoSansBengali-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


h2 {
  width: 100%;
  font-family: notobold;
  border-bottom: solid 4px #00796B;
}

h3 {
    color: #512DA8;
    border-bottom: solid 1px #536DFE;
}

h4 {
    color: #795548;
}

.equation {
    font-size: 15pt;
}
